<!-- <div class="card blue-grey darken-1">
<div class="card-content white-text">
  <span class="card-title">Card Title</span>
  <p>I am a very simple card. I am good at containing small bits of information.
  I am convenient because I require little markup to use effectively.</p>
</div>
<div class="card-action">
  <a href="#">This is a link</a>
  <a href="#">This is a link</a>
</div>
</div> -->
<div class="col l5 s12">
	<div class="fixed col l3">
		<div class="card">
			<div class="card-content">
				<span class="card-title">Tambah Berita</span>
				<div class="input-field col s12">
					Judul:
					<input id="judul" type="text" class="validate">
				</div>
				<div class="input-field col s12">
					Isi:
					<input id="isi" type="text" class="validate">
				</div>
				<div class="action">
					<button id="add-berita" class="waves-effect waves-light btn red lighten-2" >Tambah!</button>
					<button id="simpan" class="waves-effect waves-light btn red lighten-2 edit" >Simpan!</button>
				</div>
			</div>
		</div>
		<div class="card grey lighten-3">
			<div class="card-image">
				<img src="images/MyLogo.png" height="240px">
            </div>
			<div class="card-content center">
				Copyright&copy;2015 Keramas Wiguna<br>
				Make With <span class="pink-text">Love</span> in Penarungan, Bali
			</div>
		</div>
	</div>
</div>
<div class="col l8 right">
	<div class="col l12 s12">
		<div id="cont-pesan" class="card center">
			<span id="pesan" class="card-title red-text"></span>
		</div>
	<div class="col l12 s12">
		<div class="card">
			<div class="card-content">
				<h1>Berita</h1>
				<ul id="berita" class="collection with-header">
					<li><h4 id="kosong"></h4></li>
				</ul>
			</div>
		</div>
	</div>
</div>
